<div class="main-block">
    <div class="main-slide center-block">
        <div class="classify">
            <ul class="clear-margin clear-left-padding">
                <div class="H15"></div>
                <li><a>分类1</a></li>
                <li><a>分类2</a></li>
                <li><a>分类3</a></li>
                <div class="H15"></div>
            </ul>
        </div>
        <div class="classify-second hidden">
            <ul class="clear-margin clear-left-padding">
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品1</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品2</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品3</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品4</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品5</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品6</span>
                    </a>
                </li>
            </ul>
            <ul class="clear-margin clear-left-padding">
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品1</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品2</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品3</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品4</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品5</span>
                    </a>
                </li>
                <li>
                    <a>
                        <image src="__ROOT__/Public/Image/icon/iconfont-Txu.png"></image>
                        <span>产品6</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="slideBox">
            <div class="hd">
                <ul class="clear-padding clear-margin">
                    <li>
                        <div class="slide-circle"></div>
                    </li>
                    <li>
                        <div class="slide-circle"></div>
                    </li>
                </ul>
            </div>
            <div class="bd">
                <ul class="clear-padding clear-margin">
                    <li><a href="javascript:void(0);" target="_blank"><img src="__ROOT__/Public/Image/slide-1.jpg" /></a></li>
                    <li><a href="javascript:void(0);" target="_blank"><img src="__ROOT__/Public/Image/slide-2.jpg" /></a></li>
                </ul>
            </div>
            <div class="slide-control-button">
                <a class="prev" href="javascript:void(0)">前</a>
                <a class="next" href="javascript:void(0)">后</a>
            </div>
        </div>
    </div>
</div>
<script>
    // 首页主要轮播
    $(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
    // 
    $(".main-slide .classify ul li, .main-slide .classify-second").mouseover(function(e){
        if($(".main-slide .classify-second").hasClass('hidden')){
            $(".main-slide .classify-second").removeClass("hidden");
        }
    });
    $(".main-slide .classify ul li, .main-slide .classify-second").mouseout(function(e){
        if(!$(".main-slide .classify-second").hasClass('hidden')){
            $(".main-slide .classify-second").addClass("hidden");
        }
    });
</script>
