.header{ background-color:#333; height:30px; color:#424242; font-size:16px; }
.a-common:hover{ text-decoration:none; color:white; }
.header-text{ color:#b0b0b0; font-size:14px; font-family:微软雅黑; margin-left:5px; margin-right:5px; }

