<div class="main">
    <form id="register_phone_step1_form" method="post">
        手机号：<input id="register_phone_step1_phone" type="text" name="phone" class="validate[required]" /><br />
        验证码：<input id="register_phone_step1_code" type="text" name="code" class="validate[required]" /><br />
    </form>
    <p>先输入手机号</p>
    <button id="get_register_phone_code" disabled>获取验证码</button><br />
    <button id="register_phone_step1_next">下一步</button>
</div>
<!--隐藏值-->
<input type="hidden" id="hidden_value" value={check_phone_url:"{:U('Shop/Login/ajaxCheckPhoneExist')}",code_url:"{:U('Shop/Login/ajaxGetSendSmsCode')}",verify_url:"{:U('Shop/Login/ajaxJudgeSmsCode')}"} />
<script src="__ROOT__/Public/Shop/js/member.js"></script>