<header>
    <div class="top-bar H35">
        
    </div>
    <div class="header-bar main-block H100">
        <div class="center-block">
            <div class="site-logo"></div>
            <div class="header-nav">
                <ul>
                    <li class="horizontal-block clear-right-padding"></li>
                    <li><a href="javascript:void(0);">产品列表1</a></li>
                    <li><a href="javascript:void(0);">产品列表2</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>